
*{
  margin: 0;
  
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  color: #fff;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.favButton:hover {
  background-color: #999797;
  color: #333;
}

.favButton:hover .card_star {
  color: #333;
}

.card_star{
  
  color: gold;

}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  background-color: bisque;
}
.nav_icons{

  display: flex;
  align-items: center;
}

.nav_button{

  
  max-height:  40px;
  margin-left: 20px;
}

.nav_style{

  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
 
 
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

.fo_display{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.btn-img {
  width: 20px;
  height: 20px;

  padding: 0;
  border: none;
  
}

.fo_icons{

  width: 150px;
  justify-content:space-between;
}

.fo_icons .ico{
 
  min-width: 30px;
  min-height: 30px;

}

.btn-img img {
  max-width: 100%;
  max-height: 100%;
  color: black;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.form-field {
  margin-bottom: 20px;
}
.form_menssage{

  margin-top: 50px;
  background-color: white;
}
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  padding: 8px;
  width: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error,
.success {
  margin-top: 10px;
  padding: 5px;
}

.error {
  color: red;
}

.success {
  color: green;
}


.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.init{

  padding-top: 20px;
  padding-bottom: 20px;
  
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 15px;
}

.card-image {
  max-width: 100%;
  height: auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.error {
  color: red;
}

.success {
  color: green;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}


.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

.dark p {
  color: white;
}

.dark nav_button {
  color: white;
}

.dark a {
  color: white;
}



.dark .card_star{

  color: aqua;
}



.dark .favButton{

  background-color: azure;
}

.dark nav, .dark footer{

  background-color:#333;
}

.dark .form_menssage{

  background-color: #a49a9a96;
}




